<!-- Edit Events Panel -->
<div class="panel panel-default" ng-if="option._id != 'DEFAULT'">
    <div class="panel-heading">
      <h4 class="panel-title">
          <a class="accordion-toggle accordion-anchor collapsed" data-toggle="collapse" onclick="return false;" data-parent="#accordion" href="#panel6">
            <i class="glyphicon"></i>
            <span>Edit Events</span>
          </a>
      </h4>
    </div>
    <div id="panel6" class="panel-collapse collapse">
      <div class="panel-body">
    
        <section ng-hide="eventToEdit.date">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Event Name</th>
                  <th>Time</th>
                  <th>Notes</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="event in contact.events">
                  <td>{{event.date | date:'MM/dd/yyyy'}}</td>
                  <td>{{event.name}}</td>
                  <td>{{event.time | date:'h:mm a'}}</td>
                  <td>{{event.notes}}</td>
                  <td class="action-btns">
                    <a href="#" ng-click="editEvent(event.id)" onclick="return false;">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a> | 
                    <a href="#" ng-click="deleteItem(event.id, 'EVENT')" onclick="return false;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
        </section>
    
         <section ng-show="eventToEdit.date">
              <article class="pull-left">
                <div class="list-group">
                  <h3> Add Events</h3>
                  <hr />
                  <label>Event Date:</label>
                  <input class="form-control" type="text" ng-model="eventToEdit.date" bs-datepicker/>
                  <br />
                  <label>Event Time:</label>
                  <input type="text" class="form-control time-picker" size="8" ng-model="eventToEdit.time" bs-timepicker />
                  <br />
                  <label>Event Name:</label>
                  <input type="text" class="form-control" ng-model="eventToEdit.name" />
                  <br />
                  <label>Notes:</label>
                  <textarea type="text" class="form-control" size="8" ng-model="eventToEdit.notes"></textarea>
                  <br />
                  <button class="btn btn-primary" ng-click="add('EVENT')">Update</button>
                  <button class="btn btn-danger" ng-click="reset('EVENT')">Cancel</button>
                  <br />
                </div>
              </article>
            </section>
      </div>
    </div>
</div>