<!-- Add Masjid Panel -->
  <div class="panel panel-default" ng-if="option._id == 'DEFAULT'">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle accordion-anchor collapsed" data-toggle="collapse" onclick="return false;" data-parent="#accordion" href="#panel1">
            <i class="glyphicon"></i>
            <span>Add Masjid</span>
        </a>
      </h4>
    </div>
    <div id="panel1" class="panel-collapse collapse">
      <div class="panel-body panel-add-block" id="add-block">
        <div class="add-block-wrapper">
            <section>
              <article class="pull-left">
                <div class="list-group">
                  <h3> Add Masjid Information</h3>
                  <hr />
                  <label>Name:</label>
                  <input class="form-control" type="text" ng-model="item.orgName" id="lg" placeholder="Name of the Masjid or Organization">
                  <br />
                  <label>Contact Person:</label>
                  <input class="form-control" type="text" ng-model="item.contactPerson" name="conta" id="lg" placeholder="Contact Person">
                  <br />
                  <label>Contact Number:</label>
                  <input class="form-control" type="number" ng-model="item.contactNumber" name="author" id="lg" placeholder="Contact Number">
                  <br />
                </div>
              </article>
    
              <article class="pull-right">
                <table class="table table-prayer-hall-details" ng-show="!!item.orgName">
                  <thead>
                    <tr>
                      <th colspan="2">Masjid Information</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Masjid/Organization</td>
                      <td>{{item.orgName}}</td>
                    </tr>
                    <tr>
                      <td>Contact Person</td>
                      <td>{{item.contactPerson}}</td>
                    </tr>
                    <tr>
                      <td>Contact Number</td>
                      <td>{{item.contactNumber}}</td>
                    </tr>
                  </tbody>
                </table>
              </article>
            </section>

            <section>
              <article class="pull-left">
                <div class="list-group">
                  <h3> Add Prayer Times</h3>
                  <hr />
                  <label>Salah:</label>
                  <input class="form-control" type="text" ng-model="prayerObj.salah" />
                  <br />
                  <label>Iqama:</label>
                  <input type="text" class="form-control time-picker" size="8" ng-model="prayerObj.iqama" bs-timepicker>
                  <br />
                  <button class="btn btn-primary" ng-click="add('PRAYER_TIME')">Add</button>
                  <button class="btn btn-danger" ng-click="reset('PRAYER_TIME')">Reset Prayer Times</button>
                  <br /> </div>
              </article>
    
              <article class="pull-right">
                <table class="table" ng-show="item.prayer.length">
                  <thead>
                    <tr>
                      <th>Salah</th>
                      <th>Iqama</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="p in item.prayer">
                      <td>{{ p.salah }}</td>
                      <td>{{ p.iqama | date:'h:mm a'}}</td>
                    </tr>
                  </tbody>
                </table>
              </article>
            </section>
    
            <section>
              <article class="pull-left">
                <div class="list-group">
                  <h3> Add Events</h3>
                  <hr />
                  <label>Event Date:</label>
                  <input class="form-control" type="text" ng-model="eventObj.date" bs-datepicker/>
                  <br />
                  <label>Event Time:</label>
                  <input type="text" class="form-control time-picker" size="8" ng-model="eventObj.time" bs-timepicker />
                  <br />
                  <label>Event Name:</label>
                  <input type="text" class="form-control" ng-model="eventObj.name" />
                  <br />
                  <label>Notes:</label>
                  <textarea type="text" class="form-control" size="8" ng-model="eventObj.notes"></textarea>
                  <br />
                  <button class="btn btn-primary" ng-click="add('EVENT')">Add</button>
                  <button class="btn btn-danger" ng-click="reset('EVENT')">Reset Events</button>
                  <br />
                </div>
              </article>
    
              <article class="pull-right">
                <table class="table" ng-show="item.events.length">
                  <thead>
                    <tr>
                      <th>Event Date</th>
                      <th>Event Time</th>
                      <th>Event Name</th>
                      <th>About</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="event in item.events">
                      <td>{{event.date | date:'MM/dd/yyyy'}}</td>
                      <td>{{event.time | date:'h:mm a '}}</td>
                      <td>{{event.name}}</td>
                      <td>{{event.notes}}</td>
                    </tr>
                  </tbody>
                </table>
              </article>
            </section>
    
            <section>
              <article class="pull-left">
                <div class="list-group">
                  <h3> Add Announcements</h3>
                  <hr />
                  <label>Date:</label>
                  <input class="form-control" type="text" ng-model="announcementObj.date" bs-datepicker/>
                  <br />
                  <label>Announcement:</label>
                  <textarea type="text" class="form-control" size="8" ng-model="announcementObj.notes"></textarea>
                  <br />
                  <button class="btn btn-primary" ng-click="add('ANNOUNCEMENT')">Add</button>
                  <button class="btn btn-danger" ng-click="reset('ANNOUNCEMENT')">Reset Announcements</button>
                  <br />
                </div>
              </article>
    
              <article class="pull-right">
                <table class="table" ng-show="item.announcements.length">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Announcement</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="announcement in item.announcements">
                      <td>{{announcement.date | date:' MM/dd/yyyy'}}</td>
                      <td>{{announcement.notes}}</td>
                    </tr>
                  </tbody>
                </table>
              </article>
            </section>
            <section class="action-btns-main">
                <div class="action-btns-main-wrapper">
                    <button class="btn btn-warning" ng-click="viewJSON = !viewJSON">View JSON</button>
                    <button class="btn btn-danger" ng-click="reset('ALL')">Clear All</button>
                    <button class="btn btn-primary" ng-click="addOrganization(item)">Add Masjid</button>
                </div>
            </section>
        </div>
        <pre class="alert alert-info" ng-show="viewJSON">{{ item | json }}</pre>
      </div>
    </div>
  </div>